<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home page</title>
  </head>
  <body>
   
   <!-- nav bar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
       <li class="nav-item active">
        <a class="nav-link" th:href="@{department/new}">Add Department</a>
      </li>
      
    </ul>
    
  </div>
</nav>
  <!-- nar bar --> 
  <div th:if=${session.msg} >
 	<div class="alert alert-success" role="alert" th:text="${session.msg}"></div>
 	<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
 </div> 
 <div class="container p-5">  
   <h1 class="text-center">Department List</h1>
   
   <table class="table table-striped">
  <thead class="bg-primary text-white">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <th:block th:each="department : ${listDeaprtment}">
    <tr>
    <td>[[${department.id}]]</td>
        <td>[[${department.name}]]</td>
     <td>
     		<a class="btn btn-sm btn-primary" th:href="@{'/department/edit/' + ${department.id}}" >Update</a>
     		&nbsp;
     		
      	</td>
    </tr>
    </th:block>
  </tbody>
</table>
   
   
   </div>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>